.div1 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: box;
  animation-duration: 2s;

  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes box {
  0% {
    left: 0px;
    top: 0px;
    background-color: blue;
  }
  25% {
    left: 200px;
    top: 0px;
    background-color: green;
    border-left: 5px solid red;
  }
  50% {
    left: 200 px;
    top: 200px;
    background-color: yellow;
    border-right: 5px solid red;
  }
  75% {
    left: 0 px;
    top: 200px;
    background-color: orange;
    border-top: 5px solid red;
  }
  100% {
    left: 0 px;
    top: 0px;
    background-color: black;
    border-bottom: 5px solid red;
  }
}
